<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title style="text-align: center;">
            Monitor da Covid-19
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-img [src]="imgContent"></ion-img>
    <ion-card class="ion-card" (click)="pushPage(confirmados)">
        <ion-card-header class="card__header">
            Confirmados
        </ion-card-header>
        <ion-card-content>
            {{confirmados}}
        </ion-card-content>
    </ion-card>
    <ion-card class="ion-card" (click)="pushPage(novos)">
        <ion-card-header class="card__header">
            Novos
        </ion-card-header>
        <ion-card-content>
            {{novos}}
        </ion-card-content>
    </ion-card>
    <ion-card class="ion-card" (click)="pushPage(incidencia)">
        <ion-card-header class="card__header">
            Incidência
        </ion-card-header>
        <ion-card-content>
            {{incidencia}}
        </ion-card-content>
    </ion-card>
    <ion-card class="ion-card" (click)="pushPage(acompanhamento)">
        <ion-card-header class="card__header">
            Acompanhamento
        </ion-card-header>
        <ion-card-content>
            {{acompanhamento}}
        </ion-card-content>
    </ion-card>
    <ion-card class="nr__recuperados ion-card" (click)="pushPage(recuperados)">
        <ion-card-header class="card__header">
            Recuperados
        </ion-card-header>
        <ion-card-content>
            {{recuperados}}
        </ion-card-content>
    </ion-card>
    <ion-card class="nr__obitos ion-card" (click)="pushPage(totalObitos)">
        <ion-card-header class="card__header">
            Total de Óbitos
        </ion-card-header>
        <ion-card-content>
            {{totalObitos}}
        </ion-card-content>
    </ion-card>
    <ion-card class="ion-card" (click)="pushPage(em24hs)">
        <ion-card-header class="card__header">
            Em 24hs
        </ion-card-header>
        <ion-card-content>
            {{em24hs}}
        </ion-card-content>
    </ion-card>
    <ion-card class="ion-card" (click)="pushPage(mortalidade)">
        <ion-card-header class="card__header">
            Mortalidade
        </ion-card-header>
        <ion-card-content>
            {{mortalidade}}%
        </ion-card-content>
    </ion-card>
    <ion-card>
        <ion-card-header class="card__header">Sobre os dados</ion-card-header>
        <ion-card-content>
            Os dados exibidos foram trazidos da API do Ministério da Saúde e é
            atualizado de acordo com a disponibilização das informações
        </ion-card-content>
    </ion-card>


    <!-- Footer without a border -->
    <ion-footer>
        <ion-toolbar>
            <ion-title>Developed by Gilson Bezerra</ion-title>
        </ion-toolbar>
    </ion-footer>

    <ion-row size="12" class="cols">
        <ion-col size="6" class="ion-no-padding">
            <ion-fab vertical="bottom">
                <ion-fab-button (click)="atualizarDados()">
                    <ion-icon name="reload-outline"></ion-icon>
                </ion-fab-button>
            </ion-fab>
        </ion-col>
        <ion-col size="6" class="ion-no-padding">
            <ion-fab vertical="bottom">
                <ion-fab-button (click)="openModalTermos()">
                    <ion-icon name="alert-outline"></ion-icon>
                </ion-fab-button>
            </ion-fab>
        </ion-col>
    </ion-row>


</ion-content>